VERSION=<version>
NODE_ENV=<node-env>
HOST=<host>
PORT=<port>
DATABASE_USER=<database-user>
DATABASE_PASSWORD=<database-password>
DATABASE_HOST=<database-host>
DATABASE_PORT=<database-port>
DATABASE_NAME=<database-name>
ENCRYPTION_PASSWORD=<encrryption-password>
EXAMPLE_MICROSERVICE_HOST=<example-microservice-host>
EXAMPLE_MICROSERVICE_PORT=<example-microservice-port>