# NOTE: Sensitive secrets (DATABASE_PASSWORD, ENCRYPTION_PASSWORD) should be managed
# via Doppler instead of .env files. Run `doppler init` and `doppler secrets set`
# to configure them. See README.md for full setup instructions.

VERSION=<version>
NODE_ENV=<node-env>
HOST=<host>
PORT=<port>
DATABASE_USER=<database-user>
DATABASE_PASSWORD=<database-password>
DATABASE_HOST=<database-host>
DATABASE_PORT=<database-port>
DATABASE_NAME=<database-name>
ENCRYPTION_PASSWORD=<encrryption-password>
EXAMPLE_MICROSERVICE_ENABLED=<example-microservice-enabled>
EXAMPLE_MICROSERVICE_HOST=<example-microservice-host>
EXAMPLE_MICROSERVICE_PORT=<example-microservice-port>